<app-nav></app-nav>
<div class="contenedor-p">
  <div class="title">
    <h2>Venta de cubos magicos en Argentina.</h2>
  </div>
  <div class="text title">
    <p>Trabajamos las mejores amrcas de cubos magicos como <b>: Moyu, Qiyi, Gan, Yuxin, YongJun y mas.</b> </p>
  </div>
</div>


<section class="productos-destacados">
  <div class="tarjeta-producto">
    <img src="../../../assets/img/logo.jpg" alt="Cubo Mágico 3x3" class="imagen-producto">
    <h3 class="titulo-producto">Cubo Mágico 3x3</h3>
    <div class="info-producto">
      <p class="precio">$15.99</p>
      <button class="btn-agregar-carrito">Agregar al carrito</button>
    </div>
  </div>
  <div class="tarjeta-producto">
    <img src="../../../assets/img/logo.jpg" alt="Cubo Mágico 3x3" class="imagen-producto">
    <h3 class="titulo-producto">Cubo Mágico 3x3</h3>
    <div class="info-producto">
      <p class="precio">$15.99</p>
      <button class="btn-agregar-carrito">Agregar al carrito</button>
    </div>
  </div>
  <div class="tarjeta-producto">
    <img src="../../../assets/img/logo.jpg" alt="Cubo Mágico 3x3" class="imagen-producto">
    <h3 class="titulo-producto">Cubo Mágico 3x3</h3>
    <div class="info-producto">
      <p class="precio">$15.99</p>
      <button class="btn-agregar-carrito">Agregar al carrito</button>
    </div>
  </div>
  <div class="tarjeta-producto">
    <img src="../../../assets/img/logo.jpg" alt="Cubo Mágico 3x3" class="imagen-producto">
    <h3 class="titulo-producto">Cubo Mágico 3x3</h3>
    <div class="info-producto">
      <p class="precio">$15.99</p>
      <button class="btn-agregar-carrito">Agregar al carrito</button>
    </div>
  </div>
</section>

<app-footer></app-footer>