<nav class="">
    <ul>
        <li><img src="https://mla-s2-p.mlstatic.com/600883-MLA46251172814_062021-O.jpg"
             alt="logo" ></li>
        <li> Mixer Cube</li>
    </ul>
</nav>
<div class="sub-nav">
    <div>
        <a href="/home"> Inicio </a>
        <a href="/productos"> Catalogo </a>
        <a href="/informacion"> Como comprar</a>
    </div>
    <div>
        <a href="/login">Login</a>
        <a href="/usuario"> Usuario</a>
        <a href="/carrito"> Carrito</a>
    </div>
</div>
